body{
  background-color:#e4f9f5;
}

h1{
  color: #11999e;
  font-style: normal;
  font-family: Sans Serif, Helvetica;
}

h3{
  color: #11999e;
  font-style: normal;
  font-family: Sans Serif, Helvetica;
}

hr{
  border-color:grey;
  border-style:dotted none none;
  border-width:5px;
  width:5%;
  opacity:0.5;
}
